{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
</head>
<body>

    <ul id="dropdown1" class="dropdown-content">
        <li><a href="#!">Описание</a></li>
        <li><a href="#!">Документы</a></li>
        <li class="divider"></li>
        <!-- <li><a href="#!">three</a></li> -->
    </ul>

    <ul id="dropdown2" class="dropdown-content">
      <li><a href="#!">Квартиры по генплану</a></li>
      <li><a href="#!">Квартиры по параметрам</a></li>
      <li class="divider"></li>
      <li><a href="#!">Акционные квартиры</a></li>
  </ul>

   <ul id="dropdown3" class="dropdown-content">
    <li><a href="#!">Фото</a></li>
    <li><a href="#!">Видео</a></li>
    <li class="divider"></li>
    <!-- <li><a href="#!">three</a></li> -->
  </ul>

      <!-- https://riviera-gardens.com.ua/img/newImg/logo_big.png -->

      <nav class="black">
        <a href="#!" class="brand-logo green-text"><i class="material-icons">nature_people</i>Logo</a>
        <div class="nav-wrapper container">
          <ul class="right hide-on-med-and-down" id="navbar1">
            <li><a class="dropdown-trigger" href="./index.html" data-target="dropdown1">О жилом районе<i class="material-icons right">arrow_drop_down</i></a></li>
            <li><a class="dropdown-trigger" href="./index.html" data-target="dropdown2">Выбрать недвижимость<i class="material-icons right">arrow_drop_down</i></a></li>
            <li><a class="dropdown-trigger" href="./index.html" data-target="dropdown3">Галерея<i class="material-icons right">arrow_drop_down</i></a></li>
            <li><a href="#">Акции</a></li>
            <li><a href="#">Новости</a></li>
            <li><a href="#">Контакты</a></li>
            <a class="waves-effect waves-light btn green"><i class="material-icons left ">call</i>Заказать звонок</a>
          </ul>
        </div>
      </nav>

      <div class="parallax-container">
        <div class="parallax"><img src="https://riviera-gardens.com.ua/upload/about/SR1(2).jpg"></div>
      </div>
      <div class="container">
        <h1 class="center white-text">ЖИЛОЙ РАЙОН «САДЫ РИВЬЕРЫ»</h1>
        <div class="row">
            <div class="col">
              <h3 class="center white-text">Жилой район на поселке Котовского «Сады Ривьеры» проектируется по принципу города коротких расстояний, что предполагает собой наличие всех объектов инфраструктуры внутри района.
                По разработанной концепции здесь будут созданы все условия для комфортной жизни жителей, не выезжая за пределы района: детский сад, детские и взрослые спортивные площадки, собственный парк с многочисленными деревьями и зонами отдыха. На первых этажах домов будут расположены коммерческие помещения: продуктовые магазины, аптека, Новая почта, нотариус, детские развивающие центры и многие другие.
                Если вы хотите купить квартиру от застройщика на севере Одессы, обратите внимание на «Сады Ривьеры». Главными преимуществами этого жилого района являются качество строительства, стены из красного кирпича, малоэтажность, квартиры с видом на море и продуманная инфраструктура.
                «Сады Ривьеры» - идеальное место для семейной жизни в южной части поселка Котовского, где продумано все до мельчайших деталей для комфорта и счастливой жизни каждого из вас.
                Здесь вас всегда будет сопровождать свежий морской воздух и здоровая атмосфера внутри района.
                Почувствуйте новый уровень комфортной жизни в жилом районе на севере Одессы
                «Сады Ривьеры».</h3>
                <a class="waves-effect waves-light btn" id="btn_more">Читать далее</a>
            </div>
            
        </div>



      </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{% static 'main/js/script.js'%}"></script>
</body>
</html>